<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<main class="content-center">
	<div class="container">
		<div class="box box-detail mt-s">
			<h2 class="mt-s txt-center">Sign Up</h2>
			<form action="/register" method="POST">
				<div class="mt-s">
					<label>Username:</label>
					<input type="text" name="username" class="input-txt mt-xs" required />
				</div>
				<div class="mt-s">
					<label>Password:</label>
					<input type="password" name="password" class="input-txt mt-xs" required />
				</div>
				<div class="mt-s">
					<label>First Name:</label>
					<input type="text" name="firstname" class="input-txt mt-xs" required />
				</div>
				<div class="mt-s">
					<label>Last Name:</label>
					<input type="text" name="lastname" class="input-txt mt-xs" required />
				</div>
				<div class="mt-s">
					<label>Access Level:</label>
					<select name="access_level" class="select-simple">
						<option value="Guest">Guest</option>
						<option value="Administrator">Administrator</option>
					</select>
				</div>
				<div class="mt-s txt-center">
					<button type="submit" class="btn btn-simple">Sign Up</button>
				</div>
			</form>
		</div>
	</div>
</main>

<%- include('./includes/footer'); %>