
<nav>
  <div class="topnav" id="myTopnav">
    <div class="topnav-first-row">
      <a href="/">Top</a><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
    <a href="/products">Destinations</a>
    <% if (typeof user !== 'undefined') { %>
      <% if(user.access_level == 'Administrator') { %>
      <a href="/products/all">Update Destinations</a>
      <% } %>
      <a href="/products/new">Add Destination</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
  </div>
</nav>

<script type="text/javascript">
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
